@charset "utf-8";
/*setting*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #5f89c7;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition : all 0.3s;
}
a:hover {
  color: #3f5f83;
  text-decoration: none;
}
.link-box {
  display: block;
}
.inner {
  width: 960px;
  margin: 0 auto;
}
body {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #666;
  height: 100%;
  font-size: 87.5%;
  line-height: 1.5;
}
.req {
  color: #d1807e;
}
.section {
  padding-bottom: 50px;
}

/*layout*/
/*------------------------------------------------------------ ttl */
/* h1-ttl01 */
.h1-ttl01 {
  padding: 0 0 13px 0;
  color: #333;
  font-size: 257.1%;
  font-weight: normal;
  line-height: 1;
}
.h1-ttl01:first-letter {
  color: #3f833f;
}
/* h2-ttl01 */
.h2-ttl01 {
  padding-bottom: 18px;
}
.h2-ttl02 {
  margin: 0 0 14px 0;
  font-size: 128.5%;
  font-weight: bold;
}
.h2-ttl03 {
  padding: 0 0 4px 0;
  border-bottom: 1px solid #f3f3f3;
}
/* h3-ttl01 */
.h3-ttl01 {
  color: #333;
  font-size: 128.5%;
  font-weight: normal;
}
.h3-ttl02 {
  font-size: 100%;
  font-weight: bold;
}
.h3-ttl02 .req {
  margin: 0 0 0 5px;
}
.bg01 {
  padding: 0 0 0 30px;
  background: url(/images/bg_ttl_01.gif) no-repeat left top;
}
/*------------------------------------------------------------ btn */
/* btn01 */
.btn01 {
  display: block;
  float: left;
  width: 243px;
  padding: 10px 0 11px 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 2px solid #fff;
}
.btn01:hover {
  background: #fff;
  color: #000;
}
.btn01:first-child {
  margin-right: 20px;
}
/* btn02 */
.btn02 {
  clear: both;
}
.btn02 a {
  display: block;
  width: 240px;
  padding: 10px 0 11px 0;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #5fc77a;
  border: 2px solid #fff;
}
.btn02 a:hover {
  background: #fff;
  color: #5fc77a;
}
/* btn03 */
.btn03 {
  clear: both;
}
.btn03 a {
  display: block;
  width: 240px;
  padding: 10px 0 11px 0;
  margin: 0 auto;
  color: #333;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px #ccc;
}
.btn03 a:hover {
  color: #fff;
  background: #333;
  border: 2px solid #333;
  box-shadow: none;
}
/* btn04〜06 */
.btn04,
.btn05,
.btn06 {
  display: block;
  width: 200px;
  padding: 10px 0 11px 0;
  margin: 0 auto;
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border: none;
}
.btn04 {
  background: #5fc77a;
}
.btn05 {
  background: #cf7775;
}
.btn06 {
  background: #5f89c7;
}
.btn04:hover,
.btn05:hover,
.btn06:hover {
  color: #fff;
}
.btn04:hover {
  background: #3f833f;
}
.btn05:hover {
  background: #83403f;
}
.btn06:hover {
  background: #3f5f83;
}
#addpost-support {
  letter-spacing: -.4em;
}
#addpost-support a,
#addpost-support input {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
}
#addpost-support a {
  margin-right: 10px;
}
/* btn07 */
.btn07 {
  clear: both;
}
.btn07 {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  padding: 10px 0 9px 0;
  margin: 0 auto;
  color: #5fc77a;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border: 3px solid #5fc77a;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition : all 0.3s;
  cursor: pointer;
}
.btn07:hover {
  color: #fff;
  background: #5fc77a;
  border: 3px solid #5fc77a;
}
.btngroup {
  text-align: center;
  letter-spacing: -.4em;
}
.btngroup>* {
  letter-spacing: normal;
}
.btngroup>*:first-child {
  margin-right: 20px;
}

/*------------------------------------------------------------ link-set */
/* link-set01 */
.link-set01 {
  padding: 0 0 0 6px;
  color: #fff;
  font-size: 87.5%;
  background: url(/images/arrow_right.gif) no-repeat left center ;
}
.link-set01:hover {
  color: #fff;
  text-decoration: underline;
}
/* link-set02 */
.link-set02 {
  padding: 0 0 0 7px;
  background: url(/images/arrow_right01.gif) no-repeat left center ;
}
.link-set02:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------ table01 */
.table01 {
  border-top: 1px solid #eee;
  border-collapse: collapse;
}
.table01 th,
.table01 td{
  border-bottom: 1px solid #eee;
}
.table01 th {
  width: 110px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.table01 th,
.table01 td {
  padding: 15px 0;
}
.table01 .type01 th,
.table01 .type01 td {
  padding: 10px 0;
}
.table01 .type01 th,
.table01 .type02 th{
  vertical-align: top;
}
input[type="text"],
input[type="password"]{
  padding: 9px 5px 8px 5px;
  color: #666;
  font-size: 100%;
  background: #f3f3f3;
  border: 1px solid #eee;
}
textarea {
  padding: 9px 5px 8px 5px;
  color: #666;
  font-size: 100%;
  background: #f3f3f3;
  border: 1px solid #eee;
}
.input-type01 {
  width: 100%;
  box-sizing: border-box;
}
.radiotype-01 label{
  margin: 0 10px 0 0;
}
.radiotype-01 input[type="radio"],
.radiotype-01 input[type="checkbox"] {
  vertical-align: 1px;
}
.checktype-01 {
  margin: 0 0 -8px 0;
}
.checktype-01 label{
  display: inline-block;
  margin: 0 15px 8px 0;
}
.checktype-01 input {
  margin: 0 4px 0 0;
  vertical-align: 1px;
}
.thumb-area {
  position: relative;
  width: 514px;
  height: 514px;
}
.thumb-area>img,
.img-select li>img,
.img-select .null>img {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}
.img-select {
  margin: 0 0 -20px 0;
  letter-spacing: -.4em;
}
.img-select li{
  position: relative;
  letter-spacing: normal;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0 20px 20px 0;
  vertical-align: middle;
}
.img-select li:nth-child(even) {
  margin: 0 0 20px 0;
}
.menuImgBg {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  background: #000;
  opacity: .8;
}
.thumb-area .menuImgBg {
  width: 514px;
  height: 514px;
}
.thumb-area a.menuImg {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 200px 0 0 -58px;
  display: inline-block;
  opacity: .4;
}
.img-select .menuImgBg {
  width: 300px;
  height: 300px;
}
.img-select .menuImg.change {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 110px 0 0 -90px;
  display: inline-block;
  opacity: .4;
}
.img-select .menuImg.close {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 102px 0 0 16px;
  display: inline-block;
  opacity: .4;
}
.thumb-area .menuImg:hover,
.img-select .menuImg:hover {
  opacity: 1;
}
.form-size01 {
  width: 141px;
}
.form-size02 {
  width: 353px;
}

/*------------------------------------------------------------ txt-set */
/* txt-set01 */
.txt-set01 {
  line-height: 1.8;
  padding-bottom: 25px;
}
.txt-set02 {
  padding: 0 0 10px 0;
}
.txt-set03 {
  line-height: 1.8;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

/*------------------------------------------------------------ top */
/*-------------------------------------------------- mainVisual */
#main-visual {
  width: 100%;
  height: 380px;
  padding: 60px 0 0 0;
  background: url(/images/bg_mainVisual.jpg)no-repeat left -8.5em;
  -webkit-background-size: cover;
  background-size: cover;
}
#main-visual .inner {
  width: 514px;
}
#main-visual .logo {
  padding-bottom: 5px;
  text-align: center;
}
#main-visual h2 {
  padding: 0 0 15px 0;
  text-align: center;
}
#main-visual p {
  color: #fff;
}
#main-visual .box-entry01 {
  padding-bottom: 5px;
}

/*-------------------------------------------------- top-module01 */
.top-module01 {
  padding: 100px 0;
  background: #5fc77a;
  color: #fff;
}

/*-------------------------------------------------- top-module02 */
.top-module02 {
  padding: 100px 0;
  background: #fff;
}

/*-------------------------------------------------- search-module01 */
.search-module01 {
}
.search-module01-target {
  width: 200px;
  float: left;
}
.search-module01-target label{
  display: inline-block;
}
.search-module01-local label{
  display: block;
  width: 80px;
}
.search-module01-key {
  float: left;
  padding: 10px 20px 0 0;
}
.search-module01-key input {
  width: 330px;
  padding: 0 5px;
  color: #666;
  font-size: 100%;
  line-height: 2.6em;
  border: none;
  background: #fff;
}
.search-module01-start {
  padding-top: 51px;
}
.search-module01-start span {
  padding-right: 3px;
  font-size: 257.1%;
  line-height: 1;
}
.search-module01-start p {
  padding-bottom: 27px;
}
.search-module01 .h3-ttl01 {
  padding-bottom: 10px;
}

/*---------------------------------------- box-inputarea01 */
.box-inputarea01 {
  line-height: 1.7;
}
.box-inputarea01 input[type=radio],
.box-inputarea01 input[type=checkbox] {
  display: inline-block;
  margin-right: 6px;
}
.box-inputarea01 input[type=radio] + label,
.box-inputarea01 input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 1px) {
  .box-inputarea01 input[type=radio],
  .box-inputarea01 input[type=checkbox] {
    display: none;
    margin: 0;
  }
  .box-inputarea01 input[type=radio] + label,
  .box-inputarea01 input[type=checkbox] + label {
    padding: 0 0 0 20px;
  }
  .box-inputarea01 input[type=radio] + label::before,
  .box-inputarea01 input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -9px;
    background: #3f833f;
  }
  .box-inputarea01 input[type=radio] + label::before {
    border-radius: 30px;
  }
  .box-inputarea01 input[type=checkbox] + label::before {
  }
  .box-inputarea01 input[type=radio]:checked + label::after,
  .box-inputarea01 input[type=checkbox]:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .box-inputarea01 input[type=radio]:checked + label::after {
    left: 4px;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    background: #fff;
    border-radius: 8px;
  }
  .box-inputarea01 input[type=checkbox]:checked + label::after {
    left: 1px;
    width: 13px;
    height: 7px;
    margin-top: -7px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/*-------------------------------------------------- rank-module01 */
.rank-module01 {

}
.rank-module01-item {
  float: left;
  position: relative;
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.rank-module01-item .txt {
  position: absolute;
  z-index: 100;
  left: -320px;
  bottom: 0;
  width: 300px;
  padding: 7px 10px 6px 10px;
  opacity: 0.8;
  background: #000000;
  transition: left .3s;
  -webkit-transition : left .3s;
}
.rank-module01-item .txt.on {
  left: 0;
}
.rank-module01-item .ttl {
  padding-bottom: 3px;
  color: #fff;
  font-size: 114.2%;
  font-weight: normal;
}
.rank-module01-item .local {
  color: #fff;
  font-size: 87.5%;
}
.rank1,.rank2,.rank3 {
  position: absolute;
  top: -320px;
  left: 0;
  transition: top .3s;
  -webkit-transition : top .3s;
}
a:hover .rank1,
a:hover .rank2,
a:hover .rank3 {
  top: 0;
}
/*-------------------------------------------------- postModule01 */
.postModule01.typeTop {
  padding: 100px 0 100px 0;
  background: #eee;
}
/*-------------------------------------------------- post-module02 */
.post-module02 .ttl {
  overflow: hidden;
  margin: 0 0 8px 0;
}
.post-module02 .ttl .h3-ttl02 {
  display: inline-block;
}
.post-module02 .ttl .attention {
  display: inline-block;
  color: #999;
  font-size: 85.7%;
  font-weight: normal;
}
.post-module02,
.post-module02-event {
  position: relative;
}
.post-module02 .r-event,
.post-module02 .r-day {
  cursor: pointer;
  position: absolute;
  padding: 6px 10px;
  text-align: right;
  background: #5fc77a url(/images/ico_arrow.gif) no-repeat right center;
}
.post-module02 .r-event span,
.post-module02 .r-day span {
  padding: 0 10px 0 15px;
  color: #fff;
  background: url(/images/ico_close03.gif) no-repeat left center;
}
.post-module02 .r-day {
  left: -261px;
  top: -3px;
}
.post-module02 .r-event {
  left: -191px;
  top: -5px;
}
/*-------------------------------------------------- post-module03 */
.post-module03 {
  letter-spacing: -.4em;
}
.post-module03 .img,
.post-module03 .txt {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
}
.post-module03 .txt {
  vertical-align: top;
}
.post-module03 .img {
  margin: 0 20px 0 0;
}
.post-module03 .img img {
  display: block;
}
.post-module03 .txt .ttl {
  color: #333;
}
.post-module03-item {
  margin: 0 0 22px 0;
}
/*-------------------------------------------------- post-module04 */
.post-module04 .time {
  font-size: 87.5%;
}
.post-module04 .time:before {
  content: "-";
  margin-right: 3px;
}
.post-module04 .h3-ttl01 {
  margin: 0 0 10px 0;
}
.post-module04 .img-list {
  letter-spacing: -.4em;
}
.post-module04 .img-list li {
  letter-spacing: normal;
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  vertical-align: top;
}
.post-module04 .img-list li:nth-child(odd) {
  margin-right: 20px;
}
.post-module04 .spot {
  border: 1px solid #d38381;
}
.post-module04 .spot {
  letter-spacing: -.4em;
  margin-bottom: 25px;
}
.post-module04 .spot .btn-map,
.post-module04 .spot .spot-name{
  letter-spacing: normal;
  display: inline-block;
}
.post-module04 .spot .btn-map {
  cursor: pointer;
  vertical-align: middle;
  background: url(/images/btn_map_close.gif) no-repeat left ;
}
.post-module04 .spot .spot-name {
  vertical-align: top;
  width: 510px;
  padding: 8px 15px;
  font-size: 171.4%;
}
.post-module04 .spot .btn-map img {
  display: block;
}
.post-module04 .spot .maparea {
  height: 0;
  overflow: hidden;
  border-top: 1px solid #d38381;
}
.post-module04 .spot.show img {
  opacity: 0;
}
.post-module04 .spot.show .maparea{
  height: 618px;
}
.post-module04-event:last-child {
  padding: 0 0 25px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #eee;
}

/*-------------------------------------------------- col3-type01 */
.col3-type01 ul {
  letter-spacing: -.4em;
  margin: 0 0 20px -10px;
}
.col3-type01 li {
  letter-spacing: normal;
  display: inline-block;
  width: 200px;
  margin: 0 0 10px 10px;
  border: 1px solid #f3f3f3;
  box-shadow: 1px 1px 1px #f3f3f3;
  box-sizing: border-box;
}
.col3-type01 li h3{
  padding: 0 10px;
  font-size: 87.5%;
  font-weight: normal;
}
.col3-type01 li h3 a {
  color: #333;
}
.col3-type01 .location {
  padding: 0 10px 10px 10px;
}
.col3-type01 .location a {
  font-size: 87.5%;
  padding: 0 0 0 13px;
  background: url(/images/bg_ico_location.gif)no-repeat left center;
}

/*-------------------------------------------------- col4-type01 */
.col4-type01 {
  margin: 0 0 10px -20px;
}
.col4-type01 li {
  float: left;
  width: 225px;
  height: 300px;
  margin: 0 0 20px 20px;
  background: #fff;
  box-shadow: 0 1px 1px #f3f3f3;
}
.col4-type01 .ttl {
  padding: 7px 10px 0 10px;
}
.col4-type01 .ttl h3 {
  font-size: 87.5%;
  font-weight: normal;
}
.col4-type01 .ttl h3 a {
  color: #333;
}
.col4-type01 .ttl h3 a:hover {
  color: #5f89c7;
}
.col4-type01 .location {
  padding: 0 10px 7px 10px;
}
.col4-type01 .location a {
  font-size: 87.5%;
  padding: 0 0 0 13px;
  background: url(/images/bg_ico_location.gif)no-repeat left center;
}
/*-------------------------------------------------- common-header */
#common-header {
  margin: 0 0 40px 0;
}
#logo {
  padding: 20px 0;
  text-align: center;
}
.gnav {
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.gnav ul {
  width: 959px;
  margin: 0 auto;
  border-left: 1px solid #eee;
}
.gnav ul li {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}
.gnav ul li a {
  width: 100%;
  height: 34px;
  line-height: 2.8;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  display: block;
  color: #333;
  font-size: 87.5%;
  font-weight: bold;
}
.gnav.type-on {
  display: none;
}
.gnav.type-on .menu-search,
.gnav.type-on .menu-posts,
.gnav.type-on .menu-my{
  width: 308px;
}
.gnav .menu-search a {
  background: url(/images/bg_gnav_01.gif)no-repeat 7.2em center;
}
.gnav .menu-posts a {
  background: url(/images/bg_gnav_02.gif)no-repeat 7.5em center;
}
.gnav .menu-my a {
  background: url(/images/bg_gnav_03.gif)no-repeat 8.5em center;
}
.gnav .menu-search a:hover {
  background: #f3f3f3 url(/images/bg_gnav_01.gif)no-repeat 7.2em center;
}
.gnav .menu-posts a:hover {
  background: #f3f3f3 url(/images/bg_gnav_02.gif)no-repeat 7.5em center;
}
.gnav .menu-my a:hover {
  background: #f3f3f3 url(/images/bg_gnav_03.gif)no-repeat 8.5em center;
}
.gnav.type-on .menu-out {
  width: 34px;
  line-height: 3.4;
}
.gnav.type-on .menu-out a {
  line-height: 3.4;
}
.gnav.type-on .menu-out a:hover {
  background: #f3f3f3;
}
.gnav.type-off .menu-search a {
  background-position: 4.5em center;
}
.gnav.type-off .menu-posts a {
  background-position: 4.8em center;
}
.gnav.type-off .menu-my a {
  background-position: 5.8em center;
}
.gnav.type-off .menu-in a {
  background: url(/images/bg_gnav_05.gif)no-repeat 5.8em center;
}
.gnav.type-off .menu-in a:hover {
  background: #f3f3f3 url(/images/bg_gnav_05.gif)no-repeat 5.8em center;
}

/*-------------------------------------------------- contents */
#contents {
}

/*-------------------------------------------------- common-footer */
#common-footer {
  padding: 15px 0;
  border-top: 1px solid #eee;
}
#common-footer.typeTop {
  background: #eee;
}

/*-------------------------------------------------- main */
#main {
  float: right;
  width: 620px;
}

/*-------------------------------------------------- sub */
#sub {
  float: left;
  width: 300px;
}

/*---------------------------------------- user-area */
.user-area {
  margin: 0 0 15px 0;
  border: 1px solid #eee;
}
.user-info {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.user-img,
.user-info .txt {
  display: inline-block;
  vertical-align: top;
}
.user-img img{
  display: block;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
}
.user-name {
  margin: 0 0 8px 0;
  color: #333;
  font-size: 114.2%;
  font-weight: bold;
  line-height: 1;
}
.user-info .location {
  padding: 0 0 0 13px;
  font-size: 87.5%;
  line-height: 1;
  background: url(/images/bg_ico_location.gif)no-repeat left center;
}
.user-meta .txt {
  color: #333;
  font-size: 78.5%;
}
.user-meta ul {
  letter-spacing: -.4em;
}
.user-meta li {
  display: inline-block;
  width: 75px;
  letter-spacing: normal;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.user-meta li:last-child {
  border: none;
}
.user-meta li a {
  display: block;
  padding: 5px;
}
/*-------------------------------------------------- related-box01 */
.related-box01 {
  padding-top: 5px;
}
.related-box01-item {
  padding: 10px 0 0 0;
  letter-spacing: -.4em;
}
.related-box01-item .img,
.related-box01-item .txt {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
}
.related-box01-item .img img {
  display: block;
}
.related-box01-item .txt {
  width: 240px;
  margin: 0 0 0 10px;
  vertical-align: top;
  font-size: 87.5%;
}
.related-box01-item .ttl a {
  color: #333;
}
.related-box01-item .location a {
  font-size: 87.5%;
  padding: 0 0 0 13px;
  background: url(/images/bg_ico_location.gif)no-repeat left center;
}

/*---------------------------------------- footer-social */
.footer-social {
  float: left;
  height: 21px;
  overflow: hidden;
}
.footer-social .fb {
  float: left;
  margin-right: 20px;
}
.footer-social .tw {
  float: left;
}
.footer-social .tw iframe#twitter-widget-0 {
  width: 110px!important;
}
.footer-social .htb {
  float: left;
  margin-right: 20px;
}
/*---------------------------------------- footer-nav */
#footer-nav {
  float: left;
}
#footer-nav li{
  display: inline-block;
  margin-right: 20px;
  font-size: 87.5%;
}
#footer-nav li a {
  color: #333;
}
#footer-nav li a:hover {
  color: #5f89c7;
}

/*------------------------------------------------------------ cf */

.cf:after,
.box-entry01:after,
.top-module02:after,
.gnav ul:after,
#contents:after {
  content: "";
  clear: both;
  display: block;
}